* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: rgb(148, 201, 185);
  }

/* Helpers */
.container {
    width: 1200p;
    margin: 0 auto;
  }
  
  /* Grid */
  
  .row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .col-6 {
    width: 50%;
  }
  /* Banner */
  .Header {
    background: url(./components/Images/banner.jpeg);
    width: 100%;
    height: 770px;
    margin-top: 0x;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner-heading h1 {
    color: rgb(128, 64, 5);
    margin-bottom: 20px;
    font-size: 80px;
    padding-left: 700px;
    padding-top: 550px;
    font-family: cursive;
  }
  .banner-heading h2 {
    color: rgb(128, 64, 5);
    margin-bottom: 20px;
    font-size: 60px;
    padding-left: 700px;
    font-family: cursive;
  }
  /* Header  */
  .header__content {
    display: flex;
    align-items: center;
    height: 60vh;
    width: 100%;
    color: black;
    padding-left: 150px;
    /* padding-top: -60px; */
  }
  .header-img {
    padding:  20px;
    margin-top: 100px;
    padding-left: 280px;
  }
  .heading {
    margin-bottom: 20px;
  }
  
  .p {
    color: rgb(209, 52, 78);
    font-size: 20px;
    font-weight: bold; 
    padding-top: 300px;
      
  }
  .explore-img {
    padding: 60px;
    padding-left: 170px;
  }
  .explor-h {
    padding: 180px;
    padding-left: 100px;
    padding-right: 150px;
    font-size: 30px;
    color: rgb(40, 40, 197);
  }
  .common {
    width: 33.33%;
  margin: 20px auto;
  text-align: center;
  }
  /* Entertainment */
  
  .Entertainment-img {
    display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  }
  .Entertainment h1 {
    color: rgb(1, 61, 1);
    font-size: 45px;
  }
  

  .img-box {
    padding: 40px ;
   margin-left: 60px;
   margin-bottom: 50px;
   margin-right: 50px;
  }
  .img-box h4{
    font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: rgb(1, 66, 1);
  font-size: 25px;
  }
  .img1:hover {
    transform: scale(1.1);
   } 
   .img2:hover {
    transform: scale(1.1);
   }
   .img3:hover {
    transform: scale(1.1);
   }
   .img4:hover {
    transform: scale(1.1);
   }
   .img5:hover {
    transform: scale(1.1);
   }
   .img6:hover {
    transform: scale(1.1);
   } 
   .img7:hover {
    transform: scale(1.1);
   }
   .img8:hover {
    transform: scale(1.1);
   }
   .img9:hover {
    transform: scale(1.1);
   }
   /* Contact */
   .contact-heading {
    color: rgb(143, 50, 167);
    font-size: 50px;
   }
   .contact-img {
     margin-bottom: 150px;
     padding-left: 180px;
   }
   .info__contacts {
    margin-top: 150px;
  }
  .info__contacts strong {
    color: rgb(143, 50, 167);
    font-size: 24px;
    
  }
  .info__contacts p {
    margin-top: 5px;
    font-size: 22px;
  }