* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: rgb(148, 201, 185);
  }

/* Helpers */
.container {
    width: 1200p;
    margin: 0 auto;
  }
  
  /* Grid */
  
  .row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .col-6 {
    width: 50%;
  }
  /* Banner */
  .Header {
    background: url(./components/Images/banner.jpeg);
    width: 100%;
    height: 630px;
    margin-top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .banner-heading h1 {
    color: rgb(128, 64, 5);
    margin-bottom: 20px;
    font-size: 60px;
    padding-top: 420px;
    font-family: cursive;
   
  }
  .banner-heading h2 {
    color: rgb(128, 64, 5);
    margin-bottom: 20px;
    font-size: 40px;
    /* padding-left: 720px; */
    font-family: cursive;
  }
  /* Header  */
  .header__content {
    display: flex;
    align-items: center;
    height: 50vh;
    width: 100%;
    padding-left: 150px;
  
  }
  .header-img {
    padding:  20px;
    margin-top: 100px;
    padding-left: 200px;
  }
  .heading {
    margin-bottom: 20px;
  }
  
  .p {
    color: rgb(209, 52, 78);
    font-size: 16px;
    font-weight: bold; 
    padding-top: 300px;
    line-height: 30px;  
  }
  .explore-img {
    padding: 60px;
    padding-left: 170px;
  }
  .explor-h {
    padding: 150px;
    padding-left: 100px;
    padding-right: 150px;
    font-size: 25px;
    color: rgb(40, 40, 197);
  }
  .common {
    width: 33.33%;
  margin: 20px auto;
  text-align: center;
  }
  /* Entertainment */
  
  .Entertainment-img {
    display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  }
  .Entertainment h1 {
    color: rgb(1, 61, 1);
    font-size: 40px;
  }
  

  .img-box {
    padding: 30px ;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  .img-box h4{
    font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: rgb(1, 66, 1);
  font-size: 20px;
  }
  .img1:hover {
    transform: scale(1.1);
   } 
   .img2:hover {
    transform: scale(1.1);
   }
   .img3:hover {
    transform: scale(1.1);
   }
   .img4:hover {
    transform: scale(1.1);
   }
   .img5:hover {
    transform: scale(1.1);
   }
   .img6:hover {
    transform: scale(1.1);
   } 
   .img7:hover {
    transform: scale(1.1);
   }
   .img8:hover {
    transform: scale(1.1);
   }
   .img9:hover {
    transform: scale(1.1);
   }
   /* Contact */
   .contact-heading {
    color: rgb(143, 50, 167);
    font-size: 40px;
   }
   .contact-img {
     margin-bottom: 150px;
     padding-left: 180px;
   }
   .info__contacts {
    margin-top: 150px;
  }
  .info__contacts strong {
    color: rgb(143, 50, 167);
    font-size: 20px;
    
  }
  .info__contacts p {
    margin-top: 5px;
    font-size: 18px;
  }
  @media (max-width: 765px) {
    .container {
      width: 100%;
      padding: 20px 0;
    }
    .col-6 {
      width: 100%;
    }
    .Header {
      width: 100%;
      margin-top: 0x;
      background-size: cover;
      background-repeat: no-repeat;
    }
    
    .banner-heading h1 {
      color: rgb(128, 64, 5);
      margin-bottom: 20px;
      font-size: 40px;
      padding-top: 450px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .banner-heading h2 {
      color: rgb(128, 64, 5);
      margin-bottom: 20px;
      font-size: 30px;
      justify-content: center;
      align-items: center;
      text-align: center;
      
    }
    /* Header  */
    .header__content {
      display: flex;
      align-items: center;
      height: 10vh;
      width: 100%;
      padding-left: 80px;
      
    }
    .header-img {
      padding:  30px;
      margin-top: 130px;
      padding-left: 70px;
    }
    .heading {
      margin-bottom: 200px;
    }
    
    .p {
      color: rgb(209, 52, 78);
      font-size: 13px; 
      padding-top: 200px;
      padding-right: 30px;
      line-height: 20px;  
    }
    .explore-img {
      padding: 60px;
      padding-left: 60px;
      
    }
    .explor-h {
      padding: 180px;
      padding-top: 10px;
      padding-left: 100px;
      padding-right: 150px;
      font-size: 16px;
      color: rgb(40, 40, 197);
    }
    .common {
      width: 33.33%;
      margin: 20px auto;
      text-align: center;
    }
    .img-box {
      padding: 15px ;
      margin-left: 60px;
      margin-bottom: 5px;
      margin-right: 50px;
    }
    .contact-img {
      margin-bottom: 130px;
      padding-left: 80px;
    }
    .info__contacts {
     margin-top: 100px;
     margin-bottom: 20px;
   }
   .info__contacts strong {
     color: rgb(143, 50, 167);
     font-size: 20px;
     padding-left: 100px;
   }
   .info__contacts p {
    margin-top: 5px;
    font-size: 18px;
    padding-left: 100px;
  }


  }